.manage-handbook-container{
    padding: 0 15px;
    .ms-title{
        text-align: center;
        margin: 10px 0;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
    }
    .add-new-handbook{
        .btn-save-handbook{
            border: none;
            outline: none;
            border-radius: 3px;
            min-width: 75px;
            padding: 8px 5px;
            margin: 15px 0;
        }
    }
    .save-content-doctor{
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 5px;
        background-color:orange;
        cursor: pointer;
        &:hover{
            opacity: 0.85;
        }
    }
    .create-content-doctor{
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 5px;
        background-color:rgb(160, 169, 238);
        cursor: pointer;
        &:hover{
            opacity: 0.85;
        }
    }
    .previewImage{
        height: 75px;
        width: 100%;
        border: 1px solid #ddd;
        background: center center no-repeat;
        background-size: contain;
        cursor: pointer;
    }
    .delete-btn{
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 12px;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 5px;
        background-color:rgb(199, 12, 27);
        cursor: pointer;
        &:hover{
            opacity: 0.85;
        }
    }
}